{% extends "banking_system/base.html" %}
{% load mathfilters %}

{% block content %}
<hr />
<h2>Account Information</h2>
<p>Account No.: {{account.id}}</p>
<p>Account Balance: ${{account.balance}}</p>

<h2>Transaction History</h2>
<table class="table">
    <thead>
        <tr>
            <th>To/From</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for t in account.transactions %}
        {% if t.is_loan == True %}
        <tr>
            <td>From Bank</td>
            <td>{{ t.date}}</td>
            <td>Bank Loan</td>
            <td class="green_text">${{ t.amount }}</td>
        </tr>
        {% elif t.is_payment == True %}
        <tr>
            <td>To Loan: {{ t.destination}} </td>
            <td>{{ t.date}}</td>
            <td>Loan Payment</td>
            <td class="red_text">- ${{ t.amount|abs }}</td>
        </tr>
        {% elif t.is_deposit == True %}
        <tr>
            <td>Deposit </td>
            <td>{{ t.date}}</td>
            <td>Deposit</td>
            <td class="green_text">${{ t.amount }}</td>
        </tr>
        {% elif t.source == 'self' %}
        <tr>
            <td>To Account: {{ t.destination}}</td>
            <td>{{ t.date}}</td>
            <td>Transfer</td>
            <td class="red_text">- ${{ t.amount|abs }}</td>
        </tr>
        {% else %}
        <tr>
            <td>From Account: {{ t.source }}</td>
            <td>{{ t.date}}</td>
            <td>Transfer</td>
            <td class="green_text">${{ t.amount }}</td>
        </tr>
        {% endif %}
        {% endfor %}

    </tbody>

</table>
<a class="btn btn-primary" href="{% url 'banking_system:transfer_request' account.id %}">Make Tranfer</a>
<a class="btn btn-primary" href="{% url 'banking_system:add_funds' account.id %}">Add Funds</a>

<br>
{% endblock %}