{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h2>Add Funds</h2>
    <p>Account: {{account.id}}</p>
<form action="{% url 'banking_system:add_funds_complete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="pk" value="{{account.id}}">
    <input type="number" name="amount" placeholder="Choose amount">
    <button class="btn btn-primary">Submit</button>
</form>
{% if error %}
<p class="red_text"> {{ error }}</p>
{% endif %}
<br>
{% endblock %}