<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
   <script type="text/javascript" charset="utf8"
      src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
   <script>
      $(document).ready(function () {
         $('.table').DataTable({
            "order": [[1, "desc"]]
         });
      });


   </script>
   <title>Laura's Bank</title>

   {% load static %}

   <link rel="stylesheet" type="text/css" href="{% static 'banking_system/style.css' %}">
</head>

<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Bank</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
         aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
               <a class="nav-link" href="{% url 'banking_system:index' %}">Home <span
                     class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link" href="{% url 'login_app:delete_account' %}">Delete Account</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <p class="mr-sm-2">Welcome <span id="user_name">{{ user }} </span></p>
         </form>
         <a class="btn btn-sm btn-danger my-2 my-sm-0" href="{% url 'login_app:logout' %}">Log out</a>
      </div>
   </nav>

   {% block content %}
   {% endblock %}
   {% block footer %}
   {% endblock %}
</body>
<script>
   //document.cookie = "username={{user}}";
   var user = document.querySelector('#user_name');
   var socket = new WebSocket('ws://' + window.location.host + '/ws/bank/');
   socket.onmessage = function (e) {
      var data = JSON.parse(e.data);
      if (data.token != document.cookie && data.username == user.innerText) {
         window.location.reload(true);
      }

   }
   socket.onopen = () => socket.send(JSON.stringify({
      'username': user.innerText,
      'token': document.cookie
   }));
</script>

</html>