{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h3>Customers</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Tier</th>
                <th>Active Bank Accounts</th>
                <th>Approved Loans</th>
                <th>Pending Loans</th>
            </tr>
        <thead>
        <tbody>
        {% for c in customers  %}
        <tr>
          <td>
              <a href="{% url 'banking_system:customer_overview' c.id %}">{{ c.name }}</a>
             
          </td>
          <td>{{ c.rank }}</td>
          <td>{{ c.acc_total }}</td>
          <td>{{ c.loan_approved_total }}</td>
          <td>{{ c.loan_pending_total }}</td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'banking_system:new_user' %}">
        <button class="btn btn-primary">Add Customer</button>
    </form>
    
{% endblock %}


