{% extends "banking_system/base.html" %}

{% block content %}
<hr />

<h3>Account Overview</h3>
<p>Account Owner: {{customer.name}}</p>
<div style="display: inline;">
  <p>
    {% if employee %}
  <form action="" method="POST">
    {% csrf_token %}
    {{form}}
    <button class="btn btn-primary">Save</button>
  </form>

  {%else%}
  Rank: {{customer.rank}}
  {% endif %}
  </p>
</div>



<hr />
<script>

  //rest
//   $(document).ready(function() {
//     $('#bankAccounts').DataTable( {
//         "ajax": {
//                  "processing": true,
//                  "dataSrc": ""
//              },
//         "columns": [
//                      { "data": "id" },
//                      { "data": "balance" }
//                  ]} 
//         );
// } );
</script>
<table class="table" id="bankAccounts">
  <thead>
    <tr>
      <th>Account No</th>
      <th>Balance</th>
    </tr>
    <thead>
    <tbody>
      {% for a in customer.accounts %}
      <tr>
        <td>{{ a.id }} <a class="btn btn-info" href="{% url 'banking_system:account_info' a.id %}">View</a></td>

        <td>${{ a.balance }}</td>

      </tr>
      {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'banking_system:new_bank_account' customer.id %}">New Account</a>

<hr />
<table class="table" id="loans">
  <thead>
    <tr>
      <th>Loan ID</th>
      <th>Amount</th>
      <th>Status</th>

    </tr>
  </thead>
  <tbody>
    {% for loan in customer.loans %}
    <tr>
      <td>{{ loan.id }} <a class="btn btn-info" href="{% url 'banking_system:loan_info' loan.id %}">View</a></td>

      <td>${{ loan.amount }}</td>

      {% if loan.status == 'Approved' %}
      <td class="green_text">{{ loan.status }}</td>
      {%else%}
      <td>{{ loan.status }}</td>
      {%endif%}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if not employee and customer.rank == 'Silver' or not employee and customer.rank == "Gold" %}
<a class="btn btn-primary" href="{% url 'banking_system:new_loan' user.id %}">New Loan</a>
{% endif %}

<hr />
{% endblock %}