{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h2>Loan Information</h2>
<p>Customer: {{loan.customer}}</p>
<p>Loan No.: {{loan.id}}</p>
<p>Loan Status: {{loan.status}}</p>
{% if loan.status == 'Approved' %}
<p>Loan Amount: ${{loan.initial_transfer.amount}}</p>
<p>Current Balance Due: ${{loan.balance}}</p>
{% else %}
<p>Requested on: {{ loan.request_date }}</p>
<p>Loan Amount: ${{loan.amount}}</p>
{%endif%}


{%if loan.status == 'Approved'%}
<h2>Payment History</h2>
<table class="table">
  <thead>
    <tr>
      <th>From</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>From Bank</td>
      <td>{{ loan.initial_transfer.date}}</td>
      <td class="green_text">${{ loan.initial_transfer.amount }}</td>
    </tr>
    {% for p in loan.payments %}
    <tr>
      <td>Account No.: {{ p.source}}</td>
      <td>{{ p.date}}</td>
      <td class="red_text">-${{ p.amount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if not employee %}
<form action="{% url 'banking_system:payment_request' loan.id %}">
  <button class="btn btn-primary">Make Payment</button>
</form>
{%endif%}

{%endif%}

{% if loan.status == 'Pending' and employee %}
<form action="{% url 'banking_system:loan_approval' loan.id %}">
  <button class="btn btn-primary">Approve</button>
</form>
{%endif%}

<br>
{% endblock %}