{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h3>New Customer</h3>

<form action="{% url 'banking_system:save_new_customer' %}" method="POST">
    {% csrf_token %}

    <h6>Profile Details</h6>
    {{form}}
    <input type="hidden" value={{user.id}} name="user">

    <button class="btn btn-primary">Save</button>
</form>
<hr />
{% if error %}
{{ error }}
{% endif %}

{% endblock %}