{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h2>New Loan</h2>
<form action="{% url 'banking_system:loan_request_sent' %}" method="POST">
    {% csrf_token %}
    <select name="accounts" id="accounts">
        <option value="">Choose Recipient Account</option>
        {% for a in customer.accounts %}
        <option value="{{a.id}}">{{a.id}}</option>
        {%endfor%}
    </select>
    <input type="number" name="amount" placeholder="Choose loan amount">
    <input type="number" name="term" placeholder="loan term (months)">
    <button class="btn btn-primary">Apply</button>
</form>
{% if error %}
<p class="red_text"> {{ error }}</p>
{% endif %}
<br>
{% endblock %}