{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h3>New Customer</h3>

<form action="{% url 'banking_system:new_customer' %}" method="POST">
    {% csrf_token %}
    <h6>Create Login</h6>
    <input type="text" name="user" placeholder="User Name">
    <input type="email" name="email" placeholder="Email Address">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="confirm_password" placeholder="Confirm Password">
    
    <button class="btn btn-primary">Save</button>
</form>
<hr />
{% if error %}
  <p class="red_text">{{ error }}</p>  
{% endif %}

{% endblock %}
