{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h2>Payment</h2>
<p>Loan No.: {{loan.id}}</p>
<p>Loan Balance: ${{loan.balance}}</p>
<form action="{% url 'banking_system:payment' %}" method="POST">
    {% csrf_token %}
    <select name="accounts" id="accounts">
        {% for a in loan.customer.accounts %}
        <option value="{{a.id}}">{{a.id}} - ${{a.balance}}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="pk" value="{{loan.id}}">
    <input type="number" name="amount" placeholder="Payment Amount">
    <button class="btn btn-primary">Pay</button>
</form>

<br>
{% if error %}
<p class="red_text">{{error}}</p>
{% endif %}

{% endblock %}