{% extends "banking_system/base.html" %}

{% block content %}
<hr />
<h2>Transfer</h2>
<p>Account No.: {{account.id}}</p>
<p>Account Balance: ${{account.balance}}</p>
<form action="{% url 'banking_system:transfer' %}" method="POST">
    {% csrf_token %} 
    <input type="hidden" name="pk_from" value="{{account.id}}">
    <select name="banks" id="banks">
        {% for b in banks %}
            <option value="{{b.name}}">{{b.name}}</option>
        {%endfor%}
    </select>
    <input type="text" name="pk_to" placeholder="Account Number">
    <input type="number" name="amount" placeholder="Transfer Amount">
    <button class="btn btn-primary">Transfer</button>
</form>
{% if error1 %}
    <p class="red_text"> {{ error1 }}</p>     
{% endif %}
{% if error2 %}
    <p class="red_text"> {{ error2 }}</p>     
{% endif %}
<br>
{% endblock %}

