<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Verify</title>
</head>
<body>
   <h1>Verify</h1>
   <hr />
      <form action="" method="POST" autocomplete="off"> 
            {% csrf_token %}
            {{form}}
            <button>Verify</button>
      </form>
   <hr />
</body>
</html>
